<div class="comment-container" [style]="{'padding-left': 30 + 30*index + 'px'}">

    <!--User-->
  <div class="user">
    <div class="user-icon">{{username}}</div>
  </div>

  <!--White bar and comment content-->
  <div class="middle-content">
    <div class="side-bar">
      <div class="white-bar"></div>
    </div>
    <div class="comment">
      <div class="comment-content">
        {{ comment?.content }}
      </div>
    </div>
  </div>

  <!--Commands-->
  <div class="commands">
    <fa-icon *ngIf="isUpvoted" [icon]="faArrowUp" size="lg" class="red-icon" (click)="upvote()"></fa-icon>
    <fa-icon *ngIf="!isUpvoted" [icon]="faArrowUp" size="lg" class="grey-icon hover-red" (click)="upvote()"></fa-icon>
    <div class="vote">
        {{upvoteCount}} Vote
    </div>
    <fa-icon *ngIf="isDownvoted" [icon]="faArrowDown" size="lg" class="blue-icon" (click)="downvote()"></fa-icon>
    <fa-icon *ngIf="!isDownvoted" [icon]="faArrowDown" size="lg" class="grey-icon hover-blue" (click)="downvote()"></fa-icon>
    <fa-icon [icon]="faComment" class="comment-icon"></fa-icon>
    <div class="comment" (click)="respondToComment()">
        Comment
    </div>
  </div>
</div>

<app-comment *ngFor="let com of comment?.children" [comment]="com" [index]="index + 1"></app-comment>