<div class="toggle">
  <p>Sort by : Date</p>
  <label class="switch">
    <input type="checkbox" (click)="switchSort()">
    <span class="slider round"></span>
  </label>
  <p>Popularity</p>
</div>

<div class="subreddotContainer">

  <div class="post-container">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
    <h1 *ngIf="!posts">No posts found</h1>
  </div>
  <div class="data-sr-container">
    <img src="{{ subreddot?.icon }}" alt="Sub icon" id="subIcon">
    <h2 *ngIf="subreddot">r/{{ subreddot.name }}</h2>
    <h4 *ngIf="subreddot">{{ subreddot.description }}</h4>
    <h4 *ngIf="subreddot"> Subscribers : {{ subreddot.subscribers.length }}</h4>
    <button *ngIf="subreddot && isSubscribed && isLogged" (click)="subscribeToSubreddot()">Unsubscribe</button>
    <button *ngIf="subreddot && !isSubscribed && isLogged" (click)="subscribeToSubreddot()">Subscribe</button>
    <button *ngIf="subreddot && isLogged" routerLink="/addPost/{{ subreddotId }}">
      <!--<fa-icon [icon]="faPlus" (click)="addPost()" size="lg">Subreddot</fa-icon>-->
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
      Add Post
    </button>
  </div>
</div>

