<button (click)="switchSort()" id="sort" *ngIf="sort == 'date'">Sort by popularity</button>
<button (click)="switchSort()" id="sort" *ngIf="sort == 'popularity'">Sort by date</button>
<div class="homeContainer">
  <div class="data-sr-container">
    <h2>Featured SubReddots</h2>
    <div class="subs">
      <div *ngFor="let sub of featuredSubs" routerLink="/subreddot/{{sub._id}}">
        <img src="{{ sub?.icon }}" alt="Sub icon" class="subIcon">
        <h4>r/{{ sub?.name }}</h4>
      </div>
    </div>
  </div>
  <div class="feed">
    <div class="post">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
  </div>
</div>
