<!--//make a top bar with login / register and home menu-->
<div>
    <div class = "top-bar" >
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">
                  <a href="/" target="_blank">Reddot</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="menu-text">
                  <a href="/" target="_blank">Register</a>
                  <a href="/" target="_blank">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>

