<!--//make a top bar with login / register and home menu-->
<div class="container">
  <a routerLink="/home" target="">
    <img class="logo" src="/assets/logo.jpg" alt="Reddot">
  </a>
  <div class = "top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">

                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="menu-text">
                  <a class="link" routerLink="/login" target="">Register</a>
                  <a class="link" routerLink="/login" target="">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>

