<!--//make a top bar with login / register and home menu-->
<div class="container">
  <a routerLink="/home" target="">
    <img class="logo" src="/assets/logo.jpg" alt="Reddot">
  </a>
  <div class = "top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">
                  <a *ngIf="mail" class="link" routerLink="/addSubreddot" target="">
                    <fa-icon [icon]="faPlus" size="lg"></fa-icon>
                      Subreddot
                  </a>
                  <div class="link">
                    <input
                      id="search-bar"
                      type="text"
                      [(ngModel)]="search"
                      (input)="searchForSubbreddot()"
                      (focusin)="focusInSearch()"
                      (focusout)="focusOutSearch()"
                      placeholder="Search">
                    <div>
                      <ul *ngIf="focus" class="search-results">
                        <li class="results" *ngFor="let subreddot of searchResults">
                          <a routerLink="/subreddot/{{ subreddot._id }}" target="">
                            r/{{subreddot.name }}
                          </a>
                          <fa-icon class="faChevronRight" [icon]="faChevronRight"></fa-icon>
                        </li>
                        <ng-container *ngIf="searchResults.length == 0">
                          <li class="results">
                            No results found
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="menu-text">
                  <a *ngIf="!mail" class="link" routerLink="/register" target="">
                    Register
                  </a>
                  <a *ngIf="!mail" class="link" routerLink="/login" target="">
                    <fa-icon [icon]="faRightToBracket" size="lg"></fa-icon>
                    Login
                  </a>
                  <a *ngIf="mail" class="link" routerLink="/profile" target="">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                    {{ mail }}
                  </a>
                  <button *ngIf="mail" class="link" (click)="logout()">
                    <fa-icon [icon]="faRightFromBracket" size="lg"></fa-icon>
                    Logout
                  </button>
                </li>
            </ul>
        </div>
    </div>
</div>

