label {
  color: white;
  margin: 10px;
}

.container {
  background: #151517;
  width: 60%;
  min-height: 100px;
  border: 1.5px solid #28292a;
  margin: auto;
  color: white;
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
  width: 50%;
  height: 2em;
  text-decoration: none;
  background-color: white;
  color: red;
  font-size: 1em;
  border-radius: 5px;
  font-weight: bolder;
}

button:hover {
  background-color: red;
  color: white;
}

button:disabled {
  background-color: grey;
  color: white;
}

input {
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 1em;
  border-radius: 5px;
}

textarea {
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 1em;
  border-radius: 5px;
  width: 30vw;
  height: 100px;
  margin-bottom: 30px;
}
