<div class="profile-container">
    <div *ngIf="!editMode">
        <p>Hello {{loggedUser.pseudo}} !</p>
        <p>Mail : {{loggedUser.mail}}</p>
    </div>
    <form *ngIf="editMode" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="updateForm">
        <label>
            Pseudo :
            <input type="text" value="{{loggedUser.pseudo}}" name="pseudo" formControlName="pseudo">
        </label>
        <label>
            Mail :
            <input type="text" value="{{loggedUser.mail}}" name="mail" formControlName="mail">
        </label>
        <label>
            Change Password ?
            <input type="checkbox" value="" name="changePassword" (click)="updateValidators()">
        </label>
        <label *ngIf="changePassword">
            Password :
            <input type="password" value="" name="oldPassword" formControlName="oldPassword">
        </label>
        <label *ngIf="changePassword">
            New Password :
            <input type="password" value="" name="newPassword" formControlName="newPassword">
        </label>
        <button type="submit" >Update</button>
    </form>
    
    <button (click)="editMode = !editMode">Edit profile</button>
</div>

