.post-container {
    background: #151517;
    width: 60%;
    min-height: 100px;
    border: 1.5px solid #28292a;
    margin: auto;
    color: white;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-container:hover {
    border: 1.5px solid #818384;
}

.row {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
}

.vote {
    margin: 10px;
    text-align: center;
}

.hover-red:hover {
    color: rgba(255, 94, 0, 0.5);
}

.red-icon {
    margin: auto;
    color: rgb(255, 94, 0);
}

.hover-blue:hover {
    color: rgb(0, 166, 255, 0.5);
}

.blue-icon {
    color: rgb(0, 166, 255);
}

.grey-icon {
    color: #787a7b;
}