.post-container {
    background: #151517;
    width: 100%;
    min-height: 100px;
    border: 1.5px solid #28292a;
    margin: auto;
    color: white;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-container:hover {
    border: 1.5px solid #818384;
}

.row {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
}

.vote {
    margin: 10px;
    text-align: center;
}

.hover-red:hover {
    color: rgba(255, 94, 0, 0.5);
}

.red-icon {
    margin: auto;
    color: rgb(255, 94, 0);
}

.hover-blue:hover {
    color: rgb(0, 166, 255, 0.5);
}

.blue-icon {
    color: rgb(0, 166, 255);
}

.grey-icon {
    color: #787a7b;
}

.info-post {
  margin-left: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  font-size: medium;
}

.info-post>h5 {
  color:  white;
  cursor: pointer;
}

.info-post>h5:hover {
  color: #BBBBBB;
  text-decoration: underline;
}

.info-post > p {
  font-size: small;
  color: #787a7b;
}

.post-content {
    margin-left: 30px;
    text-align: left;
}

.titleh {
  margin-left: 20px;
  text-align: left;
}

#spacer {
    margin: 0px 20px 0px 20px;
}

.post-image {
  margin: 20px;
  border: 5px solid #BBBBBB;
  width: 100%;
  height: 100%;
  max-height: 800px;
  max-width: 800px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
