<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Email:
    <input type="email" formControlName="email">
  </label>
  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<!--    <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">-->
<!--      <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>-->
<!--      <div *ngIf="loginForm.controls.email.errors.email">Invalid email format</div>-->
<!--    </div>-->
