<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Email:
    <input type="email" formControlName="email">
<!--    <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">-->
<!--      <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>-->
<!--      <div *ngIf="loginForm.controls.email.errors.email">Invalid email format</div>-->
<!--    </div>-->
  </label>
  <label>
    Password:
    <input type="password" formControlName="password">
<!--    <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">-->
<!--      <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>-->
<!--      <div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 8 characters long</div>-->
<!--    </div>-->
  </label>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
